@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
    









nav ul li a{
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-family: 'Fredoka One', cursive;
    margin-bottom: 20px;
}